<jr-menu-page [close-action]="closeAction">
    <div class="map">
        <a *ngIf="canStart(0)" (click)="start(0)" style="left: 50px; top: 20px">1</a>
        <a *ngIf="canStart(1)" (click)="start(1)" style="left: 150px; top: 70px">2</a>
        <a *ngIf="canStart(2)" (click)="start(2)" style="left: 200px; top: 130px">3</a>
        <a *ngIf="canStart(3)" (click)="start(3)" style="left: 160px; top: 190px">4</a>
        <a *ngIf="canStart(4)" (click)="start(4)" style="left: 40px; top: 260px">5</a>
        <a *ngIf="canStart(5)" (click)="start(5)" style="left: 180px; top: 280px">6</a>
        <a *ngIf="canStart(6)" (click)="start(6)" style="left: 300px; top: 350px">7</a>
        <a *ngIf="canStart(7)" (click)="start(7)" style="left: 360px; top: 210px">8</a>
        <a *ngIf="canStart(8)" (click)="start(8)" style="left: 420px; top: 140px">9</a>
        <a *ngIf="canStart(9)" (click)="start(9)" style="left: 390px; top: 70px">10</a>
        <a *ngIf="canStart(10)" (click)="start(10)" style="left: 310px; top: 40px">11</a>
        <a *ngIf="canStart(11)" (click)="start(11)" style="left: 220px; top: 10px">12</a>
        <a *ngIf="canStart(12)" (click)="start(12)" style="left: 90px; top: 420px">13</a>
    </div>
    <div class="button-list">
        <button type="button" (click)="onScore()" class="delay-1" jrTranslation="game.score">Score</button>
        <button type="button" (click)="onAvatars()" class="delay-2" jrTranslation="game.avatars">Avatars</button>
        <button type="button" (click)="onMonsters()" class="delay-3" jrTranslation="game.monsters">Monsters</button>
        <button type="button" (click)="onExit()" class="delay-4" jrTranslation="game.exit">Exit</button>
    </div>
</jr-menu-page>